<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>reviewList</title>
	<meta charset="UTF-8"/>
<style type="text/css">

</style>
</head>
<body>
<div th:fragment="cafeReviewList_contents">
	<div th:object = ${cafeReviewList} >
			<h1>리뷰</h1>
            <p th:text="${userInfo.username}">review_id</p> 
            <p><a th:href="'/reviewSave/' + ${userInfo.user_id} +'/' + ${cafeId}" >리뷰쓰기</a>
            </p>
	</div>
	<div class= "container1">

		<div class="item" th:each="ra  : ${cafeReviewList}" th:object = ${cafeReviewList}>
			<hr>
			<table    >
				<tbody>
					<tr >
						<td th:text="${#temporals.format(ra.createdate, 'yyyy/MM/dd')}" width = "200"></td>
						<td  th:text="${ra.userInfo.username}" width = "600">username
						</td>
						<td     width = "200">
						</td>
					</tr>
					<tr>
						<td width = "200">
							<input id="star-rating-id" name="star-rating-id" 
							th:value="${ ra.star }" data-min="0" data-max="5" data-step="0.5" 
							data-readonly="true"  data-show-clear="false"  data-size="xs" data-show-caption="false"
							type="hidden" class="rating" data-glyphicon="0"
							>
						</td >
						<td   th:text="${ ra.contents }"  style="word-break:break-all"    width = "600">삼국지
						</td>
						<td     width = "200">
						</td>
					</tr>
					<tr>
						<td width = "200">

						</td >
						<td width = "600">
							<img src="${path}/images/${vo.productUrl}" onerror="this.style.display='none'" alt='' >
						</td >
						<td  width = "200"  th:if="${ra.userInfo.username.toString().equals(userInfo.username)}" >

							<a th:href="@{'/reviewUpdate/'+ ${ra.userInfo.user_id} +'/' + ${ra.review_id} + '/' + ${ra.cafeInfo.cafeId}}">
							<button   type="button" class="btn btn-primary">수정</button>
							</a>
						</td >
					</tr>
				</tbody>
			</table>
		</div>
		<div>
		<nav th:fragment="pagination" th:if="${cafeReviewList.totalPages  > 0}"  aria-label="Page navigation" >
		<ul class="pagination"
			th:with="start=${T(Math).floor(cafeReviewList.number/5)*5 + 1},
                    last=(${start + 4 < cafeReviewList.totalPages ? start + 4 : cafeReviewList.totalPages})">
                <th:block th:with="
                firstAddr=@{'/cafeReviewList/' + ${cafeId}(page=1)},
                prevAddr=@{'/cafeReviewList/' + ${cafeId}(page=${cafeReviewList.number})},
                nextAddr=@{'/cafeReviewList/' + ${cafeId}(page=${cafeReviewList.number + 2})},
                lastAddr=@{'/cafeReviewList/' + ${cafeId}(page=${cafeReviewList.totalPages})}">
                    <li>
                        <a th:href="${firstAddr}" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <!-- 이전 페이지로 가기 버튼 -->
                    <li th:class="${cafeReviewList.first} ? 'disabled'">
                        <a th:href="${cafeReviewList.first} ? '#' :${prevAddr}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!--1,2,3,4,.. 등 페이지-->
                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == cafeReviewList.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{'/cafeReviewList/' + ${cafeId}(page=${page})}"></a>
                    </li>
                    <!--다음 페이지로 -->
                    <li th:class="${cafeReviewList.last} ? 'disabled'">
                        <a th:href="${cafeReviewList.last} ? '#' : ${nextAddr}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!--맨 마지막 페이지로 이동 -->
                    <li>
                        <a th:href="${lastAddr}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </th:block>
		</ul>
		</nav>
		</div>
	</div>	
</div>
</body>
</html>
